[Server]
Host      = "localhost"
Port      = 8075
IsDevel   = true

[Database]
Addr            = "localhost:5432"
User            = "postgres"
Database        = ""
Password        = ""
PoolSize        = 5
ApplicationName = "gold-botsrv"

[Bot]
Token = ""