# project service name
NAME := timetables

# local database connection settings
TEST_PGDATABASE ?= demo

PGDATABASE ?= demo
PGHOST ?= localhost
PGPORT ?= 5432
PGUSER ?= postgres
PGPASSWORD ?= postgres

# add -race to GOFLAGS if RACE=1
RACE=0
